<summary>
    <font size="5" color="gray"><b> CONVENIO CENACE-UNISON 2023-2025
 </b></font>
</summary><br>
<summary>
    <font size="4" color="orange"><b> DESARROLLO DE PROTOTIPO: METODOLOGÍA CON APRENDIZAJE PROFUNDO PARA EL PRONÓSTICO A CORTO PLAZO DE DEMANDA DE ENERGÍA CON DATOS EN ADELANTO.
 </b></font>
</summary>

---

<summary>
    <font size="8" color="gray"><b> Libreta JNB0: Preprocesamiento
 </b></font>
</summary>

---
    
OLIVIA CAROLINA GUTÚ OCAMPO

REYNA YANET HERNÁNDEZ MADA

JULIO WAISSMAN VILANOVA (Responsable del proyecto)


---


<summary>
    <font size="4" color="orange"><b> INPUTS
 </b></font>
</summary>

<summary>
    <font size="2" color="gray"><b> Dataset 2:
 </b></font>
</summary>



    
Fuente Meteomatics (modelo MIX)
1. Fecha en formato yyyy-mm-dd 00:00, desde 2010-01-01 a 2023-09-05.
2. 7 variables meteorológicas (◦C mm/h), datos reales-estimados por cada ciudad de la
zona de gerencia del noroeste por cada hora del día compuesta por zona de carga, a saber,
Caborca, Nogales, Hermosillo, Guaymas, Cd. Obregón, Navojoa, Los Mochis, Guasave, Culiacán
y Mazatlán.

Fuente CENACE
* Fecha en formato yyy-mm-dd hh:00:00, desde 2010-01-01 a la fecha de actualización.

* 24 variables de demanda de energía (MW), datos reales-medidos de la demanda de carga de energía eléctrica en la Zona de Gerencia del Noroeste por cada hora del día compuesta por zonas de carga, a saber, Caborca, Nogales, Hermosillo, Guaymas, Cd. Obregón, Navojoa, Los Mochis, Guasave, Culiacán y Mazatlán, cargas fuera del consumo de las zonas de carga descritas anteriormente, el consumo de las centrales y las pérdidas de energía que existen en la red.

* 10 variables de calendario: lunes festivo, lunes después de festivo, Semana Santa, 1.° de mayo, 10 de mayo, 16 de septiembre, 2 de noviembre, día antes de Navidad o Año Nuevo, Navidad o Año Nuevo, día después de Navidad o Año Nuevo. 


--- 
<summary>
    <font size="4" color="orange"><b> CHECK POINTS
 </b></font>
</summary>


* Antes de exportar el dataset normalizado se verifica que no tenga valores faltantes.

---
<summary>
    <font size="4" color="orange"><b> OUTPUTS (INTERNAL INPUTS)
 </b></font>
</summary>

Archivo .csv de serie de tiempo exportado al path **'./Reporte_partedos/internal_inputs/GCRNO_complete_silver_[fecha_de_hoy].csv'** (entrada de la libreta YOO-JNB1) con índice **Date_time** y features:


* **Energy_Demand**

* **Hour**

* **Day**

* **Month**

* **Temperature_Ca**	
* **Perceived_Temperature_Ca**	
* **Precipitation_Ca**	
* **Humidity_Ca**	
* **Wind_Velocity_Ca**	
* **Solar_Radiation_Ca**	
* **Cloudiness_Ca**	
* **Temperature_Cul**	
* **Perceived_Temperature_Cul**	
* **Precipitation_Cul**	
* **Humidity_Cul**	
* **Wind_Velocity_Cul**	
* **Solar_Radiation_Cul**	
* **Cloudiness_Cul**	
* **Temperature_Guas**	
* **Perceived_Temperature_Guas**	
* **Precipitation_Guas**	
* **Humidity_Guas**	
* **Wind_Velocity_Guas**	
* **Solar_Radiation_Guas**	
* **Cloudiness_Guas	Temperature_Guay**	
* **Perceived_Temperature_Guay**	
* **Precipitation_Guay**	
* **Humidity_Guay**	
* **Wind_Velocity_Guay**	
* **Solar_Radiation_Guay**	
* **Cloudiness_Guay**	
* **Temperature_Herm**	
* **Perceived_Temperature_Herm**	
* **Precipitation_Herm**	
* **Humidity_Herm**	
* **Wind_Velocity_Herm**	
* **Solar_Radiation_Herm**	
* **Cloudiness_Herm**	
* **Temperature_Maz**	
* **Perceived_Temperature_Maz**	
* **Precipitation_Maz**	
* **Humidity_Maz**	
* **Wind_Velocity_Maz**	
* **Solar_Radiation_Maz**	
* **Cloudiness_Maz**	
* **Temperature_Moch**	
* **Perceived_Temperature_Moch**	
* **Precipitation_Moch**	
* **Humidity_Moch**	
* **Wind_Velocity_Moch**	
* **Solar_Radiation_Moch**	
* **Cloudiness_Moch**	
* **Temperature_Nav**	
* **Perceived_Temperature_Nav**	
* **Precipitation_Nav**	
* **Humidity_Nav**	
* **Wind_Velocity_Nav**	
* **Solar_Radiation_Nav**	
* **Cloudiness_Nav**	
* **Temperature_Nog**	
* **Perceived_Temperature_Nog**	
* **Precipitation_Nog**	
* **Humidity_Nog**	
* **Wind_Velocity_Nog**	
* **Solar_Radiation_Nog**	
* **Cloudiness_Nog**	
* **Temperature_Obr**	
* **Perceived_Temperature_Obr**	
* **Precipitation_Obr**	
* **Humidity_Obr**	
* **Wind_Velocity_Obr**	
* **Solar_Radiation_Obr**	
* **Cloudiness_Obr**	
* **Monday_Holiday**	
* **Tuesday_Aft_Hol**	
* **Easter_week	May_1s**	
* **May_10t	Sept_16**	
* **Nov_2nd**	
* **Before_Christmas_NY**	
* **Christmas_NY**	

* **After_Christmas_NY**

## 1. Importar librerias

In [1]:
# Do not print warnings
import warnings
warnings.filterwarnings('ignore')

# Basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Auxiliar libraries
import os
from datetime import date
from pathlib import Path

import glob
import os

## 2. Descargar conjunto de datos sin procesar y unir dataframes

In [2]:
dfg = os.getcwd()
print(dfg)

/LUSTRE/home/ryhernandez/MODEL3/HOURLY/HOURLY_MODELO_M3_DATASET_

In [3]:
!python './inputs/0905/rename_gpo2.py' #rename city files py

In [4]:
directory_path = './inputs/0905/'
search_pattern = os.path.join(directory_path, '*.csv')

csv_files = glob.glob(search_pattern)

print("CSV files found:")
for file in csv_files:
    print(file)

CSV files found:
./inputs/0905/Cul_20230905.csv
./inputs/0905/Guay_20230905.csv
./inputs/0905/Nog_20230905.csv
./inputs/0905/Herm_20230905.csv
./inputs/0905/GCRNODEMANDAHORARIO20230905.csv
./inputs/0905/Guas_20230905.csv
./inputs/0905/Obr_20230905.csv
./inputs/0905/Nav_20230905.csv
./inputs/0905/Maz_20230905.csv
./inputs/0905/Cab_20230905.csv
./inputs/0905/Moch_20230905.csv

In [5]:
deman_td = pd.read_csv('./inputs/0905/GCRNODEMANDAHORARIO20230905.csv', delimiter=",")
deman_td.rename(columns={"Hora":"Hour","Demand":"Energy_Demand"}, inplace = True)
deman_td.tail(2)

              Date  Hour      Zone  Energy_Demand
119902  05/09/2023    23  GERENCIA        5229.98
119903  05/09/2023    24  GERENCIA        5092.62

In [6]:
#Adjusting hours

deman_td['Hour']= deman_td['Hour']-1
deman_td['Date'] =  pd.to_datetime(deman_td['Date'], format='%d/%m/%Y') #correct datatype
deman_td['Date_time'] = deman_td.Date + pd.to_timedelta(deman_td.Hour, unit='h')

deman_td.head(2)

        Date  Hour      Zone  Energy_Demand           Date_time
0 2010-01-01     0  GERENCIA         1329.0 2010-01-01 00:00:00
1 2010-01-01     1  GERENCIA         1279.0 2010-01-01 01:00:00

In [7]:
# Creating Day, Hour and Month columns
deman_td.index = deman_td.Date + pd.to_timedelta(deman_td.Hour, unit='h')
deman_td.sort_index(inplace=True)
deman_td.drop(columns=['Hour'], inplace=True)
deman_td = deman_td.asfreq('h', method='pad')
deman_td['Date_time'] = deman_td.index
deman_td["Hour"] = deman_td.index.hour
deman_td['Day'] = deman_td.index.weekday
deman_td["Month"] = deman_td.index.month
deman_td.sort_index(inplace=True)

In [8]:
#os.chdir('./inputs') 
print(os.getcwd())

/LUSTRE/home/ryhernandez/MODEL3/HOURLY/HOURLY_MODELO_M3_DATASET_

In [9]:
#importing city files to each df
df_cab = pd.read_csv('./inputs/0905/Cab_20230905.csv',encoding='latin-1')
df_cul = pd.read_csv('./inputs/0905/Cul_20230905.csv', encoding='latin-1')
df_guas = pd.read_csv('./inputs/0905/Guas_20230905.csv', encoding='latin-1')
df_guay = pd.read_csv('./inputs/0905/Guay_20230905.csv', encoding='latin-1')
df_herm = pd.read_csv('./inputs/0905/Herm_20230905.csv', encoding='latin-1')
df_maz = pd.read_csv('./inputs/0905/Maz_20230905.csv', encoding='latin-1')
df_moch = pd.read_csv('./inputs/0905/Moch_20230905.csv', encoding='latin-1')
df_nav = pd.read_csv('./inputs/0905/Nav_20230905.csv', encoding='latin-1')
df_nog = pd.read_csv('./inputs/0905/Nog_20230905.csv', encoding='latin-1')
df_obr = pd.read_csv('./inputs/0905/Obr_20230905.csv', encoding='latin-1')

In [10]:
#df lista
data_frames = [df_cab, df_cul, df_guas, df_guay, df_herm , df_maz, df_moch, df_nav, df_nog , df_obr]

# Loop df para corrobrar forma es equivalente  en cada columna-ciudad
for i, df in enumerate(data_frames):
    print(f"Dataframe {i+1} shape: {df.shape}")

Dataframe 1 shape: (119904, 15)
Dataframe 2 shape: (119904, 15)
Dataframe 3 shape: (119904, 15)
Dataframe 4 shape: (119904, 15)
Dataframe 5 shape: (119904, 15)
Dataframe 6 shape: (119904, 15)
Dataframe 7 shape: (119904, 15)
Dataframe 8 shape: (119904, 15)
Dataframe 9 shape: (119904, 15)
Dataframe 10 shape: (119904, 15)

In [11]:
# Loop en DF para  ajustar Horas a 0 - 23
column_name = ' hora'
substract_num = 1
for i, df in enumerate(data_frames):
     df[column_name] = df[column_name] - substract_num

In [12]:
df_cab[' estacion'].unique() #verificar valores de columna, para eliminar

array(['Caborca PPA'], dtype=object)

In [13]:
"""" Function to update columns"""

def drop(name): #eliminar columns no usadas
    name.drop(['gerencia',' estacion', ' api'], axis=1, inplace=True)
    name.head(2)

def change_names(name): # renombrar
    cnames = ['City','Year','Month','Date','Hour','Temperature',
              'Perceived_Temperature','Precipitation','Humidity',
              'Wind_Velocity','Solar_Radiation','Cloudiness']
    name.set_axis(cnames, axis = 1,  inplace = True)    

def upd_names(name,suf): # establecer sufijo de ciudad 
    name.columns = name.columns.map(lambda x : x + suf)

def main_update(name, suf): # main 
    drop(name)
    change_names(name)
    upd_names(name,suf)
    name.columns

In [14]:
dataframes = {
    "df_cab": "_Ca",
    "df_cul": "_Cul",
    "df_guas": "_Guas",
    "df_guay": "_Guay",
    "df_herm": "_Herm",
    "df_maz": "_Maz",
    "df_moch": "_Moch",
    "df_nav": "_Nav",
    "df_nog": "_Nog",
    "df_obr": "_Obr"
}

# Mapeo de nombres de dataframes - ciudades
df_mapping = {
    "df_cab": df_cab,
    "df_cul": df_cul,
    "df_guas": df_guas,
    "df_guay": df_guay,
    "df_herm": df_herm,
    "df_maz": df_maz,
    "df_moch": df_moch,
    "df_nav": df_nav,
    "df_nog": df_nog,
    "df_obr": df_obr
}

# Apliacr funcion para df de cada ciudad
for df_name, suffix in dataframes.items():
    main_update(df_mapping[df_name], suffix)

In [15]:

df_cab.rename(columns = {'Date_Ca':'Date', 'Hour_Ca':'Hour'}, inplace = True)
df_herm.rename(columns = {'Date_Herm':'Date', 'Hour_Herm':'Hour'}, inplace = True)
df_cul.rename(columns = {'Date_Cul':'Date', 'Hour_Cul':'Hour'}, inplace = True)
df_guas.rename(columns = {'Date_Guas':'Date', 'Hour_Guas':'Hour'}, inplace = True)
df_guay.rename(columns = {'Date_Guay':'Date', 'Hour_Guay':'Hour'}, inplace = True)
df_maz.rename(columns = {'Date_Maz':'Date', 'Hour_Maz':'Hour'}, inplace = True)
df_moch.rename(columns = {'Date_Moch':'Date', 'Hour_Moch':'Hour'}, inplace = True)
df_nav.rename(columns = {'Date_Nav':'Date', 'Hour_Nav':'Hour'}, inplace = True)
df_nog.rename(columns = {'Date_Nog':'Date', 'Hour_Nog':'Hour'}, inplace = True)
df_obr.rename(columns = {'Date_Obr':'Date', 'Hour_Obr':'Hour'}, inplace = True)

In [16]:
df_hermcab = df_cab.merge(df_herm, left_on=['Date','Hour'], right_on = ['Date','Hour'], how='left')

In [17]:
dfs = (df_cul.set_index(['Date','Hour'])) #first df and set key columns as indx for new dataframe
dfs = pd.merge(dfs, df_herm,  how='left', left_on=['Date','Hour'], right_on=['Date','Hour'] ) #merge by Date Hour
dfs.head(3)

,Date,Hour,City_Cul,Year_Cul,Month_Cul,Temperature_Cul,Perceived_Temperature_Cul,Precipitation_Cul,Humidity_Cul,Wind_Velocity_Cul,...,City_Herm,Year_Herm,Month_Herm,Temperature_Herm,Perceived_Temperature_Herm,Precipitation_Herm,Humidity_Herm,Wind_Velocity_Herm,Solar_Radiation_Herm,Cloudiness_Herm
0,01/01/2010,0,Culiacan,2010,enero,16.5,17.0,0.0,76.3,1.3,...,Hermosillo,2010,enero,12.5,11.6,0.0,48.1,3.0,0.0,0.0
1,01/01/2010,1,Culiacan,2010,enero,13.3,13.7,0.0,82.3,1.2,...,Hermosillo,2010,enero,11.3,10.8,0.0,50.6,3.0,0.0,0.0
2,01/01/2010,2,Culiacan,2010,enero,13.0,13.4,0.0,85.8,1.5,...,Hermosillo,2010,enero,10.7,10.5,0.0,55.6,3.1,0.0,0.0

In [18]:
from functools import reduce
pdlist2 = [df_cab,df_cul, df_guas, df_guay, df_herm, df_maz,df_moch,df_nav,df_nog,df_obr ]
df_ = reduce(lambda dfs,df_guas: pd.merge(dfs,df_guas,on=['Date','Hour']), pdlist2)
df_.shape

(119904, 102)

In [19]:
df_['Date'] = pd.to_datetime(df_['Date'], format='%d/%m/%Y')

In [20]:
#Archivo de energia
#
deman_td = pd.read_csv('./inputs/0905/GCRNODEMANDAHORARIO20230905.csv', delimiter=",")
deman_td.tail(2)

              Date  Hora      Zone   Demand
119902  05/09/2023    23  GERENCIA  5229.98
119903  05/09/2023    24  GERENCIA  5092.62

In [21]:
deman_td.isnull().sum() # check for null values

Date      0
Hora      0
Zone      0
Demand    0
dtype: int64

In [22]:
deman_td.rename(columns={"Hora":"Hour","Demand":"Energy_Demand"}, inplace = True)
deman_td.head(2)

         Date  Hour      Zone  Energy_Demand
0  01/01/2010     1  GERENCIA         1329.0
1  01/01/2010     2  GERENCIA         1279.0

In [23]:
deman_td['Hour']= deman_td['Hour']-1
deman_td['Date'] =  pd.to_datetime(deman_td['Date'], format='%d/%m/%Y')

In [24]:
deman_td['Date_time'] = deman_td.Date + pd.to_timedelta(deman_td.Hour, unit='h')
deman_td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119904 entries, 0 to 119903
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           119904 non-null  datetime64[ns]
 1   Hour           119904 non-null  int64
 2   Zone           119904 non-null  object
 3   Energy_Demand  119904 non-null  float64
 4   Date_time      119904 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 4.6+ MB

In [25]:
deman_td.index = deman_td.Date + pd.to_timedelta(deman_td.Hour, unit='h')
deman_td.sort_index(inplace=True)
deman_td.drop(columns=['Hour'], inplace=True)
deman_td = deman_td.asfreq('h', method='pad')
deman_td['Date_time'] = deman_td.index
deman_td["Hour"] = deman_td.index.hour
deman_td['Day'] = deman_td.index.weekday
deman_td["Month"] = deman_td.index.month  
deman_td.sort_index(inplace=True)

In [26]:
deman_td= deman_td.reset_index (drop=True)
deman_td.rename(columns = {'Date_dem':'Date'}, inplace = True)

In [27]:
#deman_td.iloc[[24]]

         Date      Zone  Energy_Demand  Date_time  Hour  Day  Month
24 2010-01-02  GERENCIA         1181.0 2010-01-02     0    5      1

In [28]:
df_f = pd.merge(deman_td, df_,  how='left', left_on=['Date','Hour'],right_on=['Date','Hour']) #merge by Date Hour

In [29]:
#drop city list columns
cit_list = [col for col in df_f.columns if col.startswith('City')]
df_f.drop(columns=(cit_list), axis = 1,  inplace=True)
df_f.head(2)
#print(cit_list) #verify

,Date,Zone,Energy_Demand,Date_time,Hour,Day,Month,Year_Ca,Month_Ca,Temperature_Ca,...,Cloudiness_Nog,Year_Obr,Month_Obr,Temperature_Obr,Perceived_Temperature_Obr,Precipitation_Obr,Humidity_Obr,Wind_Velocity_Obr,Solar_Radiation_Obr,Cloudiness_Obr
0,2010-01-01,GERENCIA,1329.0,2010-01-01 00:00:00,0,4,1,2010,enero,11.6,...,0.0,2010,enero,14.3,13.6,0.0,61.5,2.6,0.0,0.0
1,2010-01-01,GERENCIA,1279.0,2010-01-01 01:00:00,1,4,1,2010,enero,10.8,...,0.0,2010,enero,12.5,12.1,0.0,64.8,2.5,0.0,0.0

In [30]:
#drop year in city columns
year_list = [col for col in df_f.columns if col.startswith('Year_')]
df_f.drop(columns=(year_list), axis = 1,  inplace=True)
df_f.drop(columns=['Zone'], inplace=True)

In [31]:
#drop Month in city columns
month_list = [col for col in df_f.columns if col.startswith('Month_')]
df_f.drop(columns=(month_list), axis = 1,  inplace=True)

In [32]:
columns = df_f.columns
columns

Index(['Date', 'Energy_Demand', 'Date_time', 'Hour', 'Day', 'Month',
       'Temperature_Ca', 'Perceived_Temperature_Ca', 'Precipitation_Ca',
       'Humidity_Ca', 'Wind_Velocity_Ca', 'Solar_Radiation_Ca',
       'Cloudiness_Ca', 'Temperature_Cul', 'Perceived_Temperature_Cul',
       'Precipitation_Cul', 'Humidity_Cul', 'Wind_Velocity_Cul',
       'Solar_Radiation_Cul', 'Cloudiness_Cul', 'Temperature_Guas',
       'Perceived_Temperature_Guas', 'Precipitation_Guas', 'Humidity_Guas',
       'Wind_Velocity_Guas', 'Solar_Radiation_Guas', 'Cloudiness_Guas',
       'Temperature_Guay', 'Perceived_Temperature_Guay', 'Precipitation_Guay',
       'Humidity_Guay', 'Wind_Velocity_Guay', 'Solar_Radiation_Guay',
       'Cloudiness_Guay', 'Temperature_Herm', 'Perceived_Temperature_Herm',
       'Precipitation_Herm', 'Humidity_Herm', 'Wind_Velocity_Herm',
       'Solar_Radiation_Herm', 'Cloudiness_Herm', 'Temperature_Maz',
       'Perceived_Temperature_Maz', 'Precipitation_Maz', 'Humidity_Maz',
       'Wind_Velocity_Maz', 'Solar_Radiation_Maz', 'Cloudiness_Maz',
       'Temperature_Moch', 'Perceived_Temperature_Moch', 'Precipitation_Moch',
       'Humidity_Moch', 'Wind_Velocity_Moch', 'Solar_Radiation_Moch',
       'Cloudiness_Moch', 'Temperature_Nav', 'Perceived_Temperature_Nav',
       'Precipitation_Nav', 'Humidity_Nav', 'Wind_Velocity_Nav',
       'Solar_Radiation_Nav', 'Cloudiness_Nav', 'Temperature_Nog',
       'Perceived_Temperature_Nog', 'Precipitation_Nog', 'Humidity_Nog',
       'Wind_Velocity_Nog', 'Solar_Radiation_Nog', 'Cloudiness_Nog',
       'Temperature_Obr', 'Perceived_Temperature_Obr', 'Precipitation_Obr',
       'Humidity_Obr', 'Wind_Velocity_Obr', 'Solar_Radiation_Obr',
       'Cloudiness_Obr'],
      dtype='object')

In [35]:
df_gcrno = df_f
df_gcrno['Date'] = pd.to_datetime(df_gcrno['Date'], format='%Y/%m/%d')

In [36]:
deman_td.head(2)

        Date      Zone  Energy_Demand           Date_time  Hour  Day  Month
0 2010-01-01  GERENCIA         1329.0 2010-01-01 00:00:00     0    4      1
1 2010-01-01  GERENCIA         1279.0 2010-01-01 01:00:00     1    4      1

## 3. Ajuste de series temporales multivariantes

In [37]:
# Creating Day, Hour and Month columns
df_gcrno2 = df_gcrno
df_gcrno2.index = df_gcrno.Date_time 
df_gcrno2.sort_index(inplace=True)
df_gcrno2['Date_time'] = df_gcrno.index
# Updating column titles in consumo
#df_gcrno.rename(columns={'FECHA':'Date', 'HORA': 'Hour', 'DEMANDA':'Energy_Demand'}, inplace = True)
df_gcrno2.head(2)

,Date,Energy_Demand,Date_time,Hour,Day,Month,Temperature_Ca,Perceived_Temperature_Ca,Precipitation_Ca,Humidity_Ca,...,Wind_Velocity_Nog,Solar_Radiation_Nog,Cloudiness_Nog,Temperature_Obr,Perceived_Temperature_Obr,Precipitation_Obr,Humidity_Obr,Wind_Velocity_Obr,Solar_Radiation_Obr,Cloudiness_Obr
Date_time,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,2010-01-01,1329.0,2010-01-01 00:00:00,0,4,1,11.6,10.8,0.0,32.8,...,2.3,0.0,0.0,14.3,13.6,0.0,61.5,2.6,0.0,0.0
2010-01-01 01:00:00,2010-01-01,1279.0,2010-01-01 01:00:00,1,4,1,10.8,10.4,0.0,33.3,...,2.2,0.0,0.0,12.5,12.1,0.0,64.8,2.5,0.0,0.0

Ahora es necesario integrar las columnas relacionadas a variables de calendario

In [38]:
#
df_dataset_1 = pd.read_excel('./inputs/Dataset_GCRNO.xlsx')

In [39]:
df_gcrno = df_dataset_1.melt(
    id_vars = ['FECHA'],
    value_vars = [f'DEM_GCRNO_H{i}' for i in range(24)],
    var_name = 'HORA',
    value_name = 'DEMANDA'
).replace(
    {f'DEM_GCRNO_H{i}': i for i in range(24)}
)

In [40]:
df_gcrno['Date'] = pd.to_datetime(df_gcrno['FECHA'], format='%d/%m/%Y')
df_gcrno.index = df_gcrno.FECHA + pd.to_timedelta(df_gcrno.HORA, unit='h')
df_gcrno.sort_index(inplace=True)
df_gcrno.drop(columns=['Date'], inplace=True)
df_gcrno = df_gcrno.asfreq('h', method='pad')
#df_gcrno['Date_time'] = df_gcrno.index
df_gcrno.rename(columns={'FECHA':'Date', 'HORA': 'Hour', 'DEMANDA':'Energy_Demand'}, inplace = True)
df_gcrno.head(2)

                          Date  Hour  Energy_Demand
2007-01-01 00:00:00 2007-01-01     0         1297.0
2007-01-01 01:00:00 2007-01-01     1         1255.0

In [41]:
# Adding columns of exogenous variables
df_exogenous = df_dataset_1[['FECHA',

                             'LUNES_FESTIVO',
                             'MARTES_POSTFESTIVO', 
                             'SEMANA_SANTA', 
                             '1_MAYO', 
                             '10_MAYO', 
                             '16_SEP',
                             '2_NOV.', 
                             'PRE-NAVIDAD_Y_NEW_YEAR', 
                             'NAVIDAD_Y_NEW_YEAR',
                             'POST-NAVIDAD_Y_NEW_YEAR'
                            ]]
df_exogenous.rename(columns = {'FECHA':'Date',
                               'LUNES_FESTIVO':'Monday_Holiday',
                               'MARTES_POSTFESTIVO':'Tuesday_Aft_Hol', 
                               'SEMANA_SANTA': 'Easter_week', 
                               '1_MAYO':'May_1s', 
                               '10_MAYO':'May_10t', 
                               '16_SEP': 'Sept_16',
                               '2_NOV.':'Nov_2nd', 
                               'PRE-NAVIDAD_Y_NEW_YEAR':'Before_Christmas_NY', 
                               'NAVIDAD_Y_NEW_YEAR':'Christmas_NY',
                               'POST-NAVIDAD_Y_NEW_YEAR':'After_Christmas_NY'
                              }, inplace = True)
df_exogenous['Date']= pd.to_datetime(df_exogenous['Date'], format='%d/%m/%Y')

In [42]:
df_exogenous.columns

Index(['Date', 'Monday_Holiday', 'Tuesday_Aft_Hol', 'Easter_week', 'May_1s',
       'May_10t', 'Sept_16', 'Nov_2nd', 'Before_Christmas_NY', 'Christmas_NY',
       'After_Christmas_NY'],
      dtype='object')

In [43]:
df_GCRNO_complete =  pd.merge(df_gcrno2, df_exogenous, on='Date', how='left')

In [45]:
df_GCRNO_complete.set_index('Date_time', inplace = True)
df_GCRNO_complete.head(2)

,Date,Energy_Demand,Hour,Day,Month,Temperature_Ca,Perceived_Temperature_Ca,Precipitation_Ca,Humidity_Ca,Wind_Velocity_Ca,...,Monday_Holiday,Tuesday_Aft_Hol,Easter_week,May_1s,May_10t,Sept_16,Nov_2nd,Before_Christmas_NY,Christmas_NY,After_Christmas_NY
Date_time,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,2010-01-01,1329.0,0,4,1,11.6,10.8,0.0,32.8,2.6,...,0,0,0,0,0,0,0,0,1,0
2010-01-01 01:00:00,2010-01-01,1279.0,1,4,1,10.8,10.4,0.0,33.3,2.6,...,0,0,0,0,0,0,0,0,1,0

## 4. Check point: verificar valores faltantes

In [46]:
df_GCRNO_complete.drop(columns=['Date'], inplace=True)
df_GCRNO_complete.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 119904 entries, 2010-01-01 00:00:00 to 2023-09-05 23:00:00
Data columns (total 84 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Energy_Demand               119904 non-null  float64
 1   Hour                        119904 non-null  int64
 2   Day                         119904 non-null  int64
 3   Month                       119904 non-null  int64
 4   Temperature_Ca              119904 non-null  float64
 5   Perceived_Temperature_Ca    119904 non-null  float64
 6   Precipitation_Ca            119904 non-null  float64
 7   Humidity_Ca                 119904 non-null  float64
 8   Wind_Velocity_Ca            119904 non-null  float64
 9   Solar_Radiation_Ca          119904 non-null  float64
 10  Cloudiness_Ca               119904 non-null  float64
 11  Temperature_Cul             119904 non-null  float64
 12  Perceived_Temperature_Cul   119904 non-null  float64
 13  Precipitation_Cul           119904 non-null  float64
 14  Humidity_Cul                119904 non-null  float64
 15  Wind_Velocity_Cul           119904 non-null  float64
 16  Solar_Radiation_Cul         119904 non-null  float64
 17  Cloudiness_Cul              119904 non-null  float64
 18  Temperature_Guas            119904 non-null  float64
 19  Perceived_Temperature_Guas  119904 non-null  float64
 20  Precipitation_Guas          119904 non-null  float64
 21  Humidity_Guas               119904 non-null  float64
 22  Wind_Velocity_Guas          119904 non-null  float64
 23  Solar_Radiation_Guas        119904 non-null  float64
 24  Cloudiness_Guas             119904 non-null  float64
 25  Temperature_Guay            119904 non-null  float64
 26  Perceived_Temperature_Guay  119904 non-null  float64
 27  Precipitation_Guay          119904 non-null  float64
 28  Humidity_Guay               119904 non-null  float64
 29  Wind_Velocity_Guay          119904 non-null  float64
 30  Solar_Radiation_Guay        119904 non-null  float64
 31  Cloudiness_Guay             119904 non-null  float64
 32  Temperature_Herm            119904 non-null  float64
 33  Perceived_Temperature_Herm  119904 non-null  float64
 34  Precipitation_Herm          119904 non-null  float64
 35  Humidity_Herm               119904 non-null  float64
 36  Wind_Velocity_Herm          119904 non-null  float64
 37  Solar_Radiation_Herm        119904 non-null  float64
 38  Cloudiness_Herm             119904 non-null  float64
 39  Temperature_Maz             119904 non-null  float64
 40  Perceived_Temperature_Maz   119904 non-null  float64
 41  Precipitation_Maz           119904 non-null  float64
 42  Humidity_Maz                119904 non-null  float64
 43  Wind_Velocity_Maz           119904 non-null  float64
 44  Solar_Radiation_Maz         119904 non-null  float64
 45  Cloudiness_Maz              119904 non-null  float64
 46  Temperature_Moch            119904 non-null  float64
 47  Perceived_Temperature_Moch  119904 non-null  float64
 48  Precipitation_Moch          119904 non-null  float64
 49  Humidity_Moch               119904 non-null  float64
 50  Wind_Velocity_Moch          119904 non-null  float64
 51  Solar_Radiation_Moch        119904 non-null  float64
 52  Cloudiness_Moch             119904 non-null  float64
 53  Temperature_Nav             119904 non-null  float64
 54  Perceived_Temperature_Nav   119904 non-null  float64
 55  Precipitation_Nav           119904 non-null  float64
 56  Humidity_Nav                119904 non-null  float64
 57  Wind_Velocity_Nav           119904 non-null  float64
 58  Solar_Radiation_Nav         119904 non-null  float64
 59  Cloudiness_Nav              119904 non-null  float64
 60  Temperature_Nog             119904 non-null  float64
 61  Perceived_Temperature_Nog   119904 non-null  float64
 62  Precipitation_Nog           119904 non-null  float64
 63  Humidity_Nog                119904 non-null  float64
 64  Wind_Velocity_Nog           119904 non-null  float64
 65  Solar_Radiation_Nog         119904 non-null  float64
 66  Cloudiness_Nog              119904 non-null  float64
 67  Temperature_Obr             119904 non-null  float64
 68  Perceived_Temperature_Obr   119904 non-null  float64
 69  Precipitation_Obr           119904 non-null  float64
 70  Humidity_Obr                119904 non-null  float64
 71  Wind_Velocity_Obr           119904 non-null  float64
 72  Solar_Radiation_Obr         119904 non-null  float64
 73  Cloudiness_Obr              119904 non-null  float64
 74  Monday_Holiday              119904 non-null  int64
 75  Tuesday_Aft_Hol             119904 non-null  int64
 76  Easter_week                 119904 non-null  int64
 77  May_1s                      119904 non-null  int64
 78  May_10t                     119904 non-null  int64
 79  Sept_16                     119904 non-null  int64
 80  Nov_2nd                     119904 non-null  int64
 81  Before_Christmas_NY         119904 non-null  int64
 82  Christmas_NY                119904 non-null  int64
 83  After_Christmas_NY          119904 non-null  int64
dtypes: float64(71), int64(13)
memory usage: 77.8 MB

## 5. Exportando archivo de datos plata

In [47]:
# Preparing the name of the file with the date of creation
today = date.today().strftime("%Y-%m-%d")
filepath = Path('./internal_inputs/GCRNO_complete_silver_'+ today + '.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)

In [48]:
# Exporting df_GCRNO_complete datafame
df_GCRNO_complete.to_csv(filepath, index = True)

<summary>
    <font size="4" color="gray"> Maestría en Ciencia de Datos | Universidad de Sonora </font>
</summary>
<font size="1" color="gray"> Blvd. Luis Encinas y Rosales s/n Col. Centro. Edificio 3K1 planta baja C.P. 83000, Hermosillo, Sonora, México </font>
<font size="1" color="gray"> mcd@unison.mx </font>
<font size="1" color="gray"> Tel: +52 (662) 259 2155  </font>